canvas=0
node-canvas=0
# Skip installing optional dependencies
ignore-optional=true
# Skip building native modules
build-from-source=false
# Tell node-gyp we're skipping native modules
node-gyp=false 