.test-tx-button:hover {
  background-color: #45a049 !important;
}

.test-tx-button:active {
  background-color: #3d8b40 !important;
}

.nav-center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
} 